@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:wght@300;400;600;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #FFFFFF;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.65;
}
